@import "~bootstrap/scss/bootstrap";


header {
  background-image: linear-gradient(#decba4, #526969);

  small {
    color: #decba4;
  }

  svg {
    height: 25px;
    width: 100%;
  }
}

.face {
  width: 200px;
  height: auto;
}

.social {
  a {
    color: $body-color;
    display: flex;
    flex-direction: column;

    &:hover {
      background-color: #78ffd6;

      // text underlined but not the fa icons
      text-decoration: none;
      span {
        text-decoration: underline;
      }
    }
  }
}
