@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-pro-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro-webfonts/scss/fa-solid";
@import "~@fortawesome/fontawesome-pro-webfonts/scss/fa-brands";

html, body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

header {
  background-image: linear-gradient(#decba4, #526969);

  small {
    color: #decba4;
  }

  svg {
    height: 25px;
    width: 100%;
  }
}

.layout {
  min-height: 100vh;
}

.face {
  width: 200px;
  height: auto;
}

.social {
  a {
    color: $body-color;
    display: flex;
    flex-direction: column;

    &:hover {
      background-color: #78ffd6;

      // text underlined but not the fa icons
      text-decoration: none;
      span {
        text-decoration: underline;
      }
    }
  }
}
